.logo {
  width: 80px;
  height: 80px;
}




/* Estilos da barra de navegação */
.navbar {
  display: flex;
  justify-content: space-between; /* Coloca espaço entre os itens */
  align-items: center; /* Alinha verticalmente */
  padding: 20px;
  background-color: #ae8b45; /* Cor de fundo da navbar */
}

/* Estilos para a seção da logo à esquerda */
.nav-left .logo {
  height: 50px; /* Ajuste o tamanho da logo */
}

/* Estilos para a seção dos botões à direita */
.nav-right {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
}

/* Estilo básico para os botões */
button {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

/*Nome da Empresa*/

.nomedaempresa {
  font-size: 3rem; 
  font-weight: bold;
  color: #000000; 
  font-family: cursive;
}

.content-container {
  display: flex;
  justify-content: space-between; /* Alinha texto e imagem em lados opostos */
  align-items: center;
  padding: 50px;
  height: 80vh; /* Ajusta a altura para ocupar uma boa parte da tela */
  background-color:#F8FBD6;
}

.text-container {
  flex: 1; /* O texto ocupa 50% do espaço */
  padding-right: 20px;
}

.text-container h1 {
  font-size: 2.7rem;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.image-container {
  flex: 1; 
  display: flex;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.imagemrio {
  max-width: 100%;
  height: auto;
  border-radius: 10px
}

/*Estilizando o Footer*/
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: #f8f9fa;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Centralizar o contêiner na página */
.cadastro-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F8FBD6;
}

/* Itens do Cadastro */
.cadastro-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F8FBD6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para a seção esquerda */
.cadastro-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: 100px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Estilos para a seção direita */
.cadastro-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem-rs {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.erro-senha {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}

/* Página de Acompanhamento de Doação */
.acompanhardoacao-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F8FBD6;
}

.acompanhardoacao-container {
  background-color: #F8FBD6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.acompanhardoacao-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acompanhardoacao-form-left {
  flex: 1;
}

.acompanhardoacao-form-group {
  margin-bottom: 15px;
}

.acompanhardoacao-form-group label {
  display: block;
  margin-bottom: 5px;
}

.acompanhardoacao-form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.acompanhardoacao-form-right {
  margin-left: 20px;
}

.acompanhardoacao-submit-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.acompanhardoacao-submit-button:hover {
  background-color: #0056b3;
}


/* Centralizar o contêiner na página */
.doacao-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d6fbdb;
}

/* Itens do Cadastro */
.doacao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  height: 300px;
  padding: 20px;
  background-color: #d6ddfb;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para a seção esquerda */

.doacao-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}